---
export const prerender = true;

import Main from '../layouts/main.astro';
import Aside from '../components/aside.astro';
import ProfileCard from '../components/profile-card.astro';
import SearchTags from '../components/search-tags';

import { createTagsCollection } from '../utils/create-tags-collection';

import { collections } from '../utils/all-collections';

const tags = createTagsCollection(collections);
---

<Main title='Tags' description='Tags used in ZemProfiles' slug='/tags/'>
  <strong class='flex items-center justify-between gap-2 text-sm text-brand-primary mb-8'
    >Tags
    <span class='text-inherit text-xs border border-brand-outline bg-surface px-2 py-1'>{`x${tags.length}`}</span>
  </strong>
  <h1 class='mb-0'>Tags Search</h1>
  {tags ? <SearchTags tags={tags} /> : null}
  <Aside>
    <ProfileCard />
  </Aside>
</Main>
