---
const { period, className } = Astro.props;
---

<div class={`mt-4 leading-3 ${className}`}>
  {period ? <time class='block text-brand-muted text-xs'>{`Totals from last ${period} Days`}</time> : null}
  <small class='text-brand-secondary text-xs'>Powered by{' '}</small>
  <a href='https://mdxjs.com/' target='_blank' rel='noopener' class='text-xs'>MDX</a>
</div>
